<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    
    <services>
      <service name="MutualFundService.MutualFundService" behaviorConfiguration="mexBehavior">
        <endpoint address="MutualFundService" binding="basicHttpBinding" contract="MutualFundService.IMutualFundService"></endpoint>
        <endpoint address="MutualFundService" binding="netTcpBinding" contract="MutualFundService.IMutualFundService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:53380/"/>
            <add baseAddress="net.tcp://localhost:53390/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpsGetEnabled="false" httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="MFConnectionString"
     connectionString="Data Source = SANTOSH_YOGA\SQLEXPRESS; Initial Catalog = MutualFund; Integrated Security = True"
     providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>