<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="MutualFundService.MutualFundService">
                <endpoint address="" binding="basicHttpBinding" contract="MutualFundService.IMutualFundService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/MutualFundService/MutualFundService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
  <connectionStrings>
    <add name="MFConnectionString"
     connectionString="Data Source = SANTOSH_YOGA\SQLEXPRESS; Initial Catalog = MutualFund; Integrated Security = True"
     providerName="System.Data.SqlClient"/>  
  </connectionStrings>
  <appSettings>
    <add key="SearchURL" value="https://www.valueresearchonline.com/search/full-list-search.asp?type=F&amp;search="/>
    <add key="ExpenseURL" value="https://www.valueresearchonline.com/funds/newsnapshot.asp?schemecode="/>
    <add key="performanceURL" value="https://www.valueresearchonline.com/funds/fundperformance.asp?schemecode="/>
    <add key="portfolioURL" value="https://www.valueresearchonline.com/funds/portfoliovr.asp?schemecode="/>
    <add key="fundmanagerURL" value="https://www.valueresearchonline.com/funds/fundanalysis.asp?schemecode="/>
    <add key="rsquaredURL" value="https://www.valueresearchonline.com/pdf_live/get_fundcard.asp?sc="/>
    <add key="PDFFilePath" value="C:\Users\Shami\Downloads"/>
    <add key="PDFFileName" value="ValueResearchFundcard"/>
  </appSettings>
</configuration>

